<a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=http://localhost:3000/payment/connect/redirect&client_id=ca_ChwXdD8uDHOlT7CPo8hO7s0CrlGYoeR2&state=<%=vendorId%>"
    class="connect-button">
    <span>Connect with Stripe</span>
</a>